<ul id="menu">
	<li>
		<a href="">Menu Item 1</a>
		<ul>
			<li>
				<a href="">Menu Item 1a</a>
			</li>
			<li>
				<a href="">Menu Item 1b</a>
				<ul>
					<li>
						<a href="">Menu Item 1b1</a>
					</li>
					<li>
						<a href="">Menu Item 1b2</a>
					</li>
					<li>
						<a href="">Menu Item 1b3</a>
						<ul>
							<li>
								<a href="">Menu Item 1b3a</a>
							</li>
							<li>
								<a href="">Menu Item 1b3b</a>
							</li>
							<li>
								<a href="">Menu Item 1b3c</a>
							</li>
							<li>
								<a href="">Menu Item 1b3d</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="">Menu Item 1b4</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="">Menu Item 1c</a>
			</li>
			<li>
				<a href="">Menu Item 1d</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="">Menu Item 2</a>
		<ul>
			<li>
				<a href="">Menu Item 2a</a>
			</li>
			<li>
				<a href="">Menu Item 2b</a>
			</li>
			<li>
				<a href="">Menu Item 2c</a>
			</li>
			<li>
				<a href="">Menu Item 2d</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="">Menu Item 3</a>
	</li>
	<li>
		<a href="">Menu Item 4</a>
		<ul>
			<li>
				<a href="">Menu Item 4a</a>
			</li>
			<li>
				<a href="">Menu Item 4b</a>
				<ul>
					<li>
						<a href="">Menu Item 4b1</a>
					</li>
					<li>
						<a href="">Menu Item 4b2</a>
					</li>
					<li>
						<a href="">Menu Item 4b3</a>
					</li>
					<li>
						<a href="">Menu Item 4b4</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="">Menu Item 4c</a>
			</li>
		</ul>
	</li>
</ul>